<div class="row">
  <% if @homeworks.length > 0 then %>
    <%= render "homework" %>
  <% else %>
    <center><strong>
        <h4 style="color:#9e9e9e;">You Dont Have Any Homework!</h4>
      </strong></center>
  <% end %>
</div>
