<div class="card-panel">
  <div class="row center-align">
    <strong>
      <h4 style="color:#9e9e9e;"><%= @homework.title %></h4>
    </strong>
    <p class="flow-text"><%= @homework.content %></p>
    <a href="<%= homework_path %>/delete">Destroy</a>
  </div>
</div>
